.time-bar {
  width: 740px;
  height: 70px;
}

.date-element-bkg {
  height: 20px;
  fill: none;
  stroke: black;
}

.date-element-text {
  font-size: 12px;
  font-weight: bold;
}

#adjust-pointer {
  height: 20px;
  fill: rgba(255, 0, 0, 0.81);;
  stroke: red;
}

.adjust-pointer-y {
  width: 7px;
  height: 20px;
  fill: transparent;
  cursor: ew-resize;
}