
.switch-container {

}

.switch-container input[type="checkbox"].switch  {
	position: absolute;
	opacity: 0;
}

.switch-container input[type="checkbox"].switch + div {
	vertical-align: middle;
	width: 36px;
	height: 16px;
	border-radius: 999px;
	background-color: #393e44;
	-webkit-transition-duration: .4s;
	transition-duration: .4s;
	-webkit-transition-property: background-color, box-shadow;
	transition-property: background-color, box-shadow;
	cursor: pointer;
}

.switch-container input[type="checkbox"].switch + div span {
	position: absolute;
    font-size: 1.6rem;
    color: white;
    margin-top: 12px;
}

.switch-container input[type="checkbox"].switch + div span:nth-child( 1 ) {
    margin-left: 15px;
}

.switch-container input[type="checkbox"].switch + div span:nth-child( 2 ) {
    margin-left: 55px;
}

.switch-container input[type="checkbox"].switch:checked + div {
	width: 32px;
	background-position: 0 0;
	background-color: #393e44;
}

.switch-container input[type="checkbox"].switch + div {
	width: 32px;
	height: 16px;
}


.switch-container input[type="checkbox"].switch:checked + div {
	background-color: #4ed8da;
}

.switch-container input[type="checkbox"].switch + div > div {
	float: left;
	width: 14px; height: 14px;
	border-radius: inherit;
	background: #ffffff;
	-webkit-transition-timing-function: cubic-bezier(1,0,0,1);
	transition-timing-function: cubic-bezier(1,0,0,1);
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	-webkit-transition-property: transform, background-color;
	transition-property: transform, background-color;
	pointer-events: none;
	margin-top: 1px;
	margin-left: 1px;
}

.switch-container input[type="checkbox"].switch:checked + div > div {
	-webkit-transform: translate3d(20px, 0, 0);
	transform: translate3d(20px, 0, 0);
	background-color: #ffffff;
}

.switch-container input[type="checkbox"].bigswitch.switch + div > div {
	width: 44px;
	height: 44px;
	margin-top: 1px;
}


.switch-container input[type="checkbox"].switch:checked + div > div {
	-webkit-transform: translate3d(18px, 0, 0);
	transform: translate3d(18px, 0, 0);
}

