.track {
  position: absolute;
  width: 1020px;
}

.track-group .tick:nth-child(2) {
  display: none;
}

.track-group .tick:last-child{
  display: none;
}

.track-group .tick text {
  fill: rgb(207, 209, 210);
}

.track-group .tick line {
  stroke: rgb(207, 209, 210);
}

.track-group  .domain {
  display: none;
  stroke: #cfd1d2;
}

.track-border {
  height: 120px;
  width: 1px;
  fill: transparent;
  stroke-width: 1;
  stroke: rgb(207, 209, 210);
}

.track-border-side {
  height: 1px;
  width: 740px;
  fill: transparent;
  stroke-width: 1;
  stroke: rgb(207, 209, 210);
}
/* 
.patient-chart-header .track-border {
  width: 760px;
}

.patient-chart-header .track-header {
  width: 801px;
} */

.track-header {
  fill: #ff8a6b;
}

.track-name {
  fill: white;
}

.track-background {
  width: 740px;
  height: 100px;
  fill: #393e44;
}

.list-patient .track-drag {
  display:none;
}

.track-drag {
  height: 100px;
  width: 40px;
  fill: #393e44;
  stroke-width: 1;
}

.tick line {
  stroke-width: 3px;
}

.figure-value-1, .figure-value-2 {
  font-size: 25px;
}

.figure-value {
  font-size:35px;
}

.figure-name {
  fill: white;
  font-size: 20px;
}

.figure-box {
  stroke: black;
  stroke-width: 2px;
}

.overlay {
  cursor: pointer;
}

.list-patient .move-track-icon {
  display: none;
}

.move-track-icon {
  cursor: pointer;
}

.grid-icon {
  cursor: pointer;
}

.grid-icon-text {
  font-size: 12px;
}

.y-grid .tick line{
  stroke: rgb(102, 101, 101);
  stroke-width: 1px
}

.setting-icon {
  cursor: pointer;
}

.setting-table {
  fill: white;
}

.setting-text {
  fill: grey;
}

.setting-choice {
  fill: transparent;
  cursor: pointer;
  height: 29px;
  stroke: lightgrey
}

.setting-choice:hover {
  fill: #393e44;
  opacity: 0.5;
}