.track {
  position: absolute;
  width: 1020px;
}

.track-border {
  height: 100px;
  width: 750px;
  fill: transparent;
  stroke-width: 3;
  stroke: rgb(0,0,0)
}

.track-drag {
  height: 100px;
  width: 30px;
  fill: transparent;
  stroke-width: 3;
  stroke: rgb(0,0,0);
  cursor: pointer;
}

.tick line {
  stroke-width: 3px;
}

.figure-value-1, .figure-value-2 {
  font-size: 25px;
}

.figure-value {
  font-size:35px;
}

.figure-name {
  fill: white;
  font-size: 20px;
}

.figure-box {
  stroke: black;
  stroke-width: 2px;
}