.track {
  position: absolute;
  width: 1020px;
}

.track-group .tick:nth-child(2) {
  display: none;
}

.track-group .tick:last-child{
  display: none;
}

.track-border {
  height: 100px;
  width: 740px;
  fill: transparent;
  stroke-width: 1;
  stroke: rgb(0,0,0)
}
/* 
.patient-chart-header .track-border {
  width: 760px;
}

.patient-chart-header .track-header {
  width: 801px;
} */

.track-header {
  fill: #ff8a6b;
}

.track-name {
  fill: white;

}

.track-drag {
  height: 100px;
  width: 40px;
  fill: transparent;
  stroke-width: 1;
  stroke: rgb(0,0,0);
}

.tick line {
  stroke-width: 3px;
}

.figure-value-1, .figure-value-2 {
  font-size: 25px;
}

.figure-value {
  font-size:35px;
}

.figure-name {
  fill: white;
  font-size: 20px;
}

.figure-box {
  stroke: black;
  stroke-width: 2px;
}

.overlay {
  cursor: pointer;
}

.move-track-icon {
  cursor: pointer;
}

.grid-icon {
  cursor: pointer;
}

.grid-icon-text {
  font-size: 12px;
}

.y-grid .tick line{
  stroke: rgb(172, 172, 172);
  stroke-width: 1px
}