.patient {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
}

.patient-info {
  display: table-cell;
  width: 200px;
  padding-left: 15px;
  vertical-align: top;
}

.patient-basic-info {
  position: relative;
  border: 1px solid black;
  height: auto;
  margin-top: 10px;
}

.patient-avatar {
  width: 100%;
  border-bottom: 1px solid black;
}

.patient-name {
  margin-top: -4px !important;
  margin-bottom: 0 !important;
  font-weight: bold;
  color: white;
  background: #ff8a6b;
  padding: 5px;
}

.patient-basic-info-box {
  width: 80%;
  margin-top: 5px;
  margin-left: 10%;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid black;
  text-align: center;
}

.patient-basic-info-text {
  font-size: 16px;
  margin: 0;
  margin-bottom: 3px;
}

.patient-health-info {
  height: 442px;
  overflow-y: scroll;
}

.patient-health-title {
  padding: 5px;
  padding-top: 15px;
  color: #ff8a6b;
  font-size: 12px;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
}

.patient-health-value {
  padding: 5px;
  padding-bottom: 15px;
  padding-top: 0;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid lightgrey;
}

.patient-predict-diabete {
  display: table-cell;
  vertical-align: top;
  border-left: 1px solid black;
}

.patient-diabete-title {
  padding: 5px;
  background: grey;
  color: white;
  border: 1px solid black;
}

.patient-diabete-value {
  padding: 5px;
  border: 1px solid black;  
  cursor: pointer;
}

.patient-diabete-positive {
  background: rgba(255, 0, 0, 0.81);
  color: white;
}

.patient-diabete-negative {
  background: rgba(60, 255, 0, 0.81);
}

.patient-chart {
  display: table-cell;
  width: 840px;
  vertical-align: top;
}

.patient-chart-header {
  height: 160px !important;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.patient-chart-header .svg-container {
  width: 100%;
}

.patient .patient-chart-body {
  width: 805px;
  height: 394px;
  margin-left: 20px;

  overflow: auto;
}

.patient .patient-chart-body::-webkit-scrollbar {
  display: none;
}

.patient-chart-body .svg-container {
  width: 100%;
}

.patient-chart-footer {
  width: 750px;
  height: 61px;
  margin-top: 13px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 38px;
  border: 1px solid black;
  overflow: hidden;
}

.patient-feature-selection {
  display: table-cell;
  width: 238px;
  vertical-align: top;
}

.top-feature-selection {
  margin-top: 10px;
  margin-left: -10px;
  width: 225px;
  height: 140px;
  border: 1px solid black;
}

.body-feature-selection {
  margin-top: 10px;
  margin-left: -10px;
  width: 225px;
  height: 394px;
  border: 1px solid black;
}

.patient-feature-selection input {
  width: 185px;
  margin-top: 10px;
  margin-left: 10px;
  border: 1px solid black;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 20px;
  outline: none;
}

.patient-feature-selection .title-area {
  display: table-cell;
  width: 230px;
  height: 40px;
  border-bottom: 1px solid black;
  vertical-align: middle;
  padding-left: 10px;
}

.patient-feature-selection .Dropdown-control   {
  width: 200px;
  outline: none;
  margin-top: 25px;
  margin-left: 12px;
  padding-left: 5px;
}

.patient-feature-selection .Dropdown-menu {
  width: 200px;
  margin-left: 12px;
  padding-left: 5px;
}

.patient-feature-selection .list-feature {
  margin-top: 5px;
  margin-left: -1px;
}

.patient-feature-selection .Dropdown-placeholder {
  padding-left: 5px;
}

.patient-feature-selection .feature {
  width: 206px;
  display: table;
  padding: 10px;
  border-bottom: 1px solid black;
}

.patient-feature-selection .feature-button {
  width: 40px;
  padding-left: 10px;
  display: table-cell;
  vertical-align: middle;
}

.patient-feature-selection .feature-text {
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
}

#note-patient {
  display: none;
  position:absolute;
  left:0;
  right:0;
  height: 100%;
  padding-top: 50px;
}

#note-patient-tabbar {
  position: relative;
  height: 20px;
  background: lightgrey;
  width: 520px;
  margin: 0 auto;
  padding-left: 20px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

#note-patient-button {
  border-left: 1px solid black;
  width: 20px;
  text-align: center;
  height: 20px;
  position: absolute;
  right: 0;
  font-weight: bold;
  background: red;
  color: white;
  cursor: pointer;
}

#note-patient-container {
  margin: 0 auto;
  width: 500px;
  background: white;
  border: 1px solid black;
  padding: 20px;
  padding-top: 10px;
}

#note-patient-title {
  font-size: 30px;
  margin-bottom: 10px;
}

.note-info {
  margin-bottom: 5px;
}

#note-patient-text {
  height: 200px;
  border: 1px solid black;
  margin-top: 10px;
  padding: 10px;
  overflow: scroll;
}