.list-patient {
  height: 660px;
  background: #22252a;
  margin-top: -4px;
}

.list-patient .patient-chart {
  display: table-cell;
  width: 1070px;
  vertical-align: top;
 
}

.list-patient .patient-chart-header .svg-container {
  width: 100%;
}

.list-patient .patient-chart-body {
  position: relative;
  width: 1030px;
  height: calc(100% - 9px);
  margin-right: 20px;
  padding-top: 10px;
  overflow: auto;
  border-right: 1px solid black;
}

.list-patient .patient-chart-body .svg-container {

}

.list-patient .patient-basic-info-container {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: calc(19% - 27px);
}

.list-patient .patient-basic-info-subcontainer {
  border: 1px solid black;
  width: 179px;
  height: 95px;
  padding-top: 20px;
  padding-bottom: 5px;
  margin-top: 40px;
  margin-left: 25px;
  padding-left: 10px; 
  padding-right: 2px;
  vertical-align: middle;
  font-size: 16px;
  color: rgb(207, 209, 210);
  background: rgb(57, 62, 68);
}

.list-patient .patient-basic-info-subcontainer p{
  font-size: 16px;
  
}

/* .list-patient .patient-basic-info-subcontainer:hover {
  color: rgb(34, 37, 42);
  background: #4ed8da;
  font-weight: bold;
} */

.list-patient .patient-chart-container {
  display: inline-block; 
  vertical-align: top; 
  height: 161px;
  margin-left: 50px;
  margin-top: -4px;
}

.patient-basic-button {
  position: absolute;
  display: table;
  margin-left: 26px;
  width: 193px;
  height: 41px;
  cursor: pointer;
}

.patient-basic-detail {
  display: table-cell;
  width: 50%;
  text-align: center;
  vertical-align: middle;
  background: #12bebd;
  color: #3c3f3c;
  border-right: 1px solid black;
}

.patient-basic-compare {
  display: table-cell;
  width: 50%;
  text-align: center;
  vertical-align: middle;
  background: #de8400;
  color: white;
  border-right: 1px solid black;
}

.slimScroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: rgba(0,0,0,0);
  border-radius: 100px;
}
.slimScroll::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}
.slimScroll::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.5);
  border-radius: 100px;
}
.slimScroll::-webkit-scrollbar-thumb:active {
  background: rgba(0,0,0,0.61);
  border-radius: 100px;
}

.select-feature-bar {
  position: fixed;
  right: 0;
  top: 40px;
  width: 248px;
  height: 658px;
  background: #2d3136;
}

.select-feature-bar .single-feature {
  width: 228px;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  font-size: 16px;
  cursor: pointer;
  color: #cfd1d2;
}

.select-feature-bar .select-feature {
}

.select-feature-bar .selected-feature {
  color: #4ed8da;
  border-left: 5px solid #4ed8da;
}

.select-feature-bar .select-feature:hover {
  color: #4ed8da;
}

.select-feature-bar .title-area {
  display: table-cell;
  width: 237px;
  height: 60px;
  vertical-align: middle;
  padding-left: 15px;
  color: #cfd1d2;
  background: #393e44;
  font-size: 18px;
  font-weight: bold;
}

.select-feature-bar .search-area input {
  width: 205px;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 15px;
  border: 1px solid black;
  padding: 10px;;
  border-radius: 8px;
  outline: none;
}

.comparing {
  position: absolute;
  padding-left: 20px;
  bottom: -1px;
  width: 228px;
  height: 45px;
  line-height: 45px;
  color: #cfd1d2;
  background: #393e44;
  font-weight: bold;
}